@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,700;1,200;1,900&display=swap');
:root{
    --main-color:#8e44ad;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgb(0,0,0.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1) ;
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3) ;
    
}
*{
    font-family: sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
width: 1rem;
}

html::-webkit-scrollbar-track{
background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
section{
    padding: 5rem 10%;
}


.heading{
    background-size: cover !important;
    background-position: cover !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
}
.btn{
    background: var(--black);
    display: inline-block;
    color: var(--white);
    font-size: 1.8rem;
    cursor: pointer;
    padding: 1rem 3rem;
    margin-top: 1rem;   

}
.btn:hover{
    background: var(--main-color);
}

.service .heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

.header{
    position:sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000; 
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 2.5rem;
    color:var(--black);
}


.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}

.header .navbar a:hover{
color: var(--main-color);
}

.header .icons i{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
}

.header .icons i:hover{
    color: var(--main-color);
}
/* 
.login-form-container{
    position: fixed;
    top:-120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width:100%;
    background: rgb(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container :active{
    top: 0;
} */
.login-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.login-form-container .close-btn {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
  }
.login-form-container.active {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.login-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background:#fff;
    width: 50rem;
}

.login-form-container form h3{
    font-size: 3rem;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}
.login-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size:1.7rem;
    color: #333;
    margin: 1rem 0;
    border: .1rem solid rgb(0,0,0,.3);
    text-transform: none;

} 

.login-form-container form .box:focus{
    border-color: var(--main-color);
}


.login-form-container form #remember{
margin: 2rem 0;
}


.login-form-container form label{

    font-size: 1.5rem;
}


.login-form-container form .btn{
display: block;
width:100%;
}


.login-form-container form p{
padding: .5rem 0;
font-size: 1.5rem;
color: #666;
}

.login-form-container form p a{
    color: var(--main-color);
}
.login-form-container form p a:hover{
    color: #666;
    text-decoration: underline;
}


.login-form-container #form-close{
    position: absolute;
    top:2rem; right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}  
.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}
.fas.fa-user {
    font-size: 24px; /* Adjust the font size as desired */
}
#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;

}

.signup-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .signup-form-container .signup-form h3{
    font-size: 3rem;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.signup-form-container .signup-form .box{
    width: 100%;
    padding: 1rem;
    font-size:1.7rem;
    color: #333;
    margin: 1rem 0;
    border: .1rem solid rgb(0,0,0,.3);
    text-transform: none;

}

.signup-form-container .signup-form .btn{
    display: block;
    width:100%;
    }
    .signup-form-container .signup-form select{
      width: 100%;
    padding: 1rem;
    font-size:1.7rem;
    color: #333;
    margin: 1rem 0;
    border: .1rem solid rgb(0,0,0,.3);
    text-transform: none;
    }
    .signup-form-container .signup-form .error-msg{
        margin: 10px 0;
        display: block;
        background: crimson;
        color: #fff;
        border-radius: 5px; 
        font-size: 20px;
    }
  /*
  .signup-form-container input[type="text"],
  .signup-form-container input[type="email"],
  .signup-form-container input[type="password"],
  .signup-form-container input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  */
  .signup-form-container label {
    display: block;
    margin-bottom: 15px;
  }
  
  

.home{
    padding: 0;
}
.home .slide{
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: center !important ;
    background-position:  center !important;
    min-height: 60rem;
}
.home .slide .content{
    width: 85rem;
}

.home .slide .content span{
    display: block;
    font-size: 2.2rem;
    color: var(--light-white);
    padding-bottom: 1rem;
}
.home .slide .content h3{
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0 ;

}


.service .box-container{
display: grid;
grid-template-columns:repeat(auto-fit, minmax(16rem, 1fr));
gap:1.5rem;
}

.service .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background: var(--main-color)
}

.service .box-container .box:hover{
    background: var(--black)
}

.service .box-container .box img{
    height: 7rem;
}

.service .box-container .box h3{
    color: var(--white);
    font-size: 1.7rem;
}

.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-about .image{
    flex: 1 1 41rem;
}

.home-about .image img{
    width: 100%;
}
.home-packages .heading{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}
.home-about .content{
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--light-bg);    
}

.home-about .content h3{
font-size: 3rem;
color: var(--black);
}


.home-about .content p{
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2; 
    color: var(--black);
}


.home-packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;

}

.home-packages{
    background: var(--light-bg);
}
.home-packages .box-container .box{
        border: var(--border);
        box-shadow: var(--box-shadow);
        background: var(--white);
}
.home-packages .box-container .image{
    height: 25rem;
    overflow: hidden;
}


.home-packages .box-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}


.home-packages .box-container .box .content{
padding: 2rem;
text-align: center;
}


.home-packages .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.home-packages .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--black);
    line-height: 2;
    padding:1rem 0;
}

.home-packages .load-more{
    text-align: center;
    margin-top: 2rem;
}


.about{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.about .image{
    flex: 1 1 41rem;
}

.about .image img{
width: 100%;
}


.about .content{
    flex: 1 1 41rem;
    text-align: center;

}

.about .content h3{
font-size: 3rem;
color: var(--black);
}

.about .content p{    
font-size: 1.5rem;
color: var(--light-black);
line-height: 2;
padding: 1rem 0;
}

.about .content .icons-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end;
}

.about .content .icons-container .icons{
background: var(--light-bg);
padding: 2rem;
}

.about .content .icons-container .icons i{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}
.about .content .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--light-black);
    display: block;
}


.packages .heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

.packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;

}

.packages{
    background: var(--light-bg);
}
.packages .box-container .box{
        border: var(--border);
        box-shadow: var(--box-shadow);
        background: var(--white);
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6){
    display:inline-block;
}


.packages .box-container .box .image{
    height: 25rem;
    overflow: hidden;
}


.packages .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}


.packages .box-container .box:hover .image img{
transform: scale(1.1);
}
.packages .box-container .box .content{
padding: 2rem;
text-align: center;
}


.packages .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.packages .box-container .box .content p{
    font-size: 1.4rem;
    color: var(--black);
    line-height: 2;
    padding:1rem 0;
}

.packages .load-more{
    text-align: center;
    margin-top: 2rem;
}
.package_description {
    padding: 50px;
    background-color: #f8f8f8;
  }
  
  .package_description h1.heading-title {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .package_description h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .package_description ul {
    margin-bottom: 20px;
  }
  
  .package_description li {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  
.booking .heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);

}
.booking .success-message {
    background-color: #dff0d8;
    color: #3c763d;
    font-size: 3rem;
  }
  
  .booking .error-message {
    background-color: #f2dede;
    color: #a94442;
    font-size: 3rem;
  }
.booking .booking-form{
    padding: 2rem;
    background: var(--light-bg);    
}

.booking .booking-form .flex{
display: flex;
flex-wrap: wrap;
gap: 2rem;
}

.booking .booking-form .flex .inputBox{
flex:1 1 41rem;
}

.booking .booking-form .flex .inputBox input{
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}

.booking .booking-form .flex .inputBox input:focus{
    background: var(--black);
    color: var(--white);
}

.booking .booking-form .flex .inputBox input::placeholder{
    color: var(--light-black);
}

.booking .booking-form .flex .inputBox span{
    font-size: 1.5rem;
    color: var(--light-black);
}
.booking .booking-form .btn{
margin-top: 2rem;
}

.container .row .inputBox label{
    font-size: 1.5rem;
    color: var(--light-black);
}

.table {
    width: 100%;
    border-collapse: collapse;
 }
 
 .table th, .table td {
    padding: 10px;
    font-size: 2rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
 }
 
 .table th {
    background-color: #f2f2f2;
    font-weight: bold;
 }
 
 .table tr:hover {
    background-color: #f5f5f5;
 }




.footer{
    background: url(https://siddharthpetro.com/wp-content/uploads/2019/09/insurance-footer-background.png) no-repeat;   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;

}


.footer .box-container .box h3{
color:var(--white);
font-size: 2.5rem;
padding-bottom: 2rem;
}

.footer .box-container .box a{
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;

}
.footer .box-container .box a i{
color: var(--main-color);
padding-right: .5rem;
transition: .2s linear;
}
.footer .box-container .box a:hover i{
padding-right: 2rem;
}
.logoutDiv{
    background-color: white;
    width: 500px;
    height: 200px;
}
/*Media query*/
@media (max-width:1200px){
    section{
        padding:3rem 5%;
    }
}
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding:3rem 2rem;
    }
}
@media (max-width:768px){
    #menu-btn{
     display: inline-block;
     transition: .2s linear;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
        
.header .navbar{
    position: absolute; 
    top: 99%;
    left: 0; right: 0;
    background-color: var(--white);
    border-top: var(--border);
    padding: 2rem;
    transition: .2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

}
.header .navbar a{
    display: block;
    margin: 2rem;
    text-align: center;
}
}
@media(max-width:450px){
html{
    font-size: 50%;
}
}   
